.cht-select {
    width:1000px;
    height:650px;
    position:absolute;
    display:flex;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    &__list {
        width:200px;
        height:100%;
        position:relative;
        cursor:pointer;
    }
    &__cht {
        width:380px;
        height:380px;
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        pointer-events: none;
        &1 {
            @include bg($bg:"cht4.png");
            background-size:cover;
        }
        &2 {
            @include bg($bg:"cht2.png");
            background-size:cover;
        }
        &3 {
            @include bg($bg:"cht5.png");
            background-size:cover;
        }
        &4 {
            @include bg($bg:"cht3.png");
            background-size:cover;
        }
        &5 {
            @include bg($bg:"cht1.png");
            background-size:cover;
        }
    }
}
