.slice {
    $root:&;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    &__half {
        width:100%;
        height:100%;
        position:relative;
        overflow:hidden;
        float:left;
    }
    &__right {
        #{$root}__layout {
            margin-left:-100%;
        }
    }
    &__layout {
        height:100%;
        position:relative;
        @include bg($bg:"header.jpg");
        background-size:cover;
    }
    &__btn {
        width:254px;
        height:60px;
        display:block;
        position:absolute;
        left:50%;
        top:50%;
        @include bg($bg:"btn_preorder.png");
        transform:translate(-50%, -50%);
    }
}

.btn {
    margin-left:-50px;
    width:100px;
    height:50px;
    color:#fff;
    position:absolute;
    left:50%;
    background:gray;
    z-index:1;
    &__slice {
        top:200px;
    }
    &__reset {
        top:260px;
        &--slice {
            top:320px;
        }
    }
}