.conformance_wrap {margin:200px auto 0; width:700px; height:400px; position:relative; border:1px solid #ddd;}
.start_wrap {width:100%; height:100%; text-align:center; position:absolute; left:0; top:0; background:#fff; z-index:1;
    .btn_start {margin-top:300px; width:100px; height:50px; display:inline-block; background:lightgray;}
}
.conformance_wrap {
    .conformance_test {width:100%; height:100%; text-align:center; position:absolute; left:0; top:0; background:#fff;
        &:before {display:block; position:absolute; left:0; top:0;}
        &:nth-of-type(2):before {content:"1";}
        &:nth-of-type(3):before {content:"2";}
        &:nth-of-type(4):before {content:"3";}
        &:nth-of-type(5):before {content:"4";}
        &:nth-of-type(6):before {content:"5";}
        &:nth-of-type(7):before {content:"6";}
        &:nth-of-type(8):before {content:"7";}
        button {margin-top:300px; width:100px; height:50px; display:inline-block; background:lightgray;}
    }
}
.test_layer {margin:-300px 0 0 -400px; width:800px; height:600px; display:none; text-align:center; position:absolute; left:50%; top:50%; background:#fff; border:1px solid #ddd;
    .btn_again {margin-left:-50px; width:100px; height:50px; display:block; position:absolute; left:50%; bottom:100px; background:#ddd;}
}