/* nav */
.p-nav {
    $root:&;
    width:100px;
    position:absolute;
    left:50px;
    top:50%;
    background-color:rgba(255, 255, 255, 0.4);
    z-index:10;
    transform:translateY(-50.5%);   // blur 현상이 발생하면 50.5% or 50%로 수정
    &__menu {
        &--sub {
            border-top:1px solid ghostwhite;
        }
    }
    &__list {
        width:100%;
        position:relative;
        &:hover, &--on {
            >#{$root}__btn {
                background-color:rgba(255, 255, 255, 1.0);
            }
        }
    }
    &__btn {
        padding-left:15px;
        position:relative;
        display:block;
        &--dep1 {
            height:30px;
            line-height:30px;
            border-top:1px solid ghostwhite;
            &:last-child {
                border-bottom:1px solid ghostwhite;
            }
        }
        &--dep2 {
            height:25px;
            line-height:25px;
        }
    }
}

#content {
    width:100%;
    height:100%;
    position:relative;
    left:0;
    top:0;
    overflow:hidden;
}

.scene {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    &--comm {
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
    }
    &1 {
        background:#3e6b88;
        &__con1 {
            background:cornflowerblue;
        }
        &__con2 {
            background:deepskyblue;
        }
    }
    &2 {
        background:#3e6b88;
        &__con1 {
            background:hotpink;
        }
        &__con2 {
            background:coral;
        }
    }
    &3 {
        background:#3e6b88;
        &__con1 {
            background:darkseagreen;
        }
    }
    &4 {
        background:#3e6b88;
        &__con1 {
            background:coral;
        }
        &__con2 {
            background:goldenrod;
        }
        &__con3 {
            background:lightgreen;
        }
    }
}

.obj {position:absolute; left:50%; top:50%;
    &1 {
        &_1 {width:150px; height:200px; margin:-100px 0 0 -75px; background:white;}
        &_2 {width:150px; height:200px; margin:-200px 0 0 -300px; background:lightpink;}
        &_3 {width:150px; height:200px; margin:0 0 0 150px; background:lightgoldenrodyellow;}
    }
    &2 {
        &_1 {width:150px; height:200px; margin:-100px 0 0 -75px; background:white;}
        &_2 {width:150px; height:200px; margin:-100px 0 0 -300px; background:lightpink;}
        &_3 {width:150px; height:200px; margin:-100px 0 0 150px; background:lightgoldenrodyellow;}
    }
    &3 {
        &_1 {width:150px; height:200px; margin:-100px 0 0 -75px; background:white;}
        &_2 {width:150px; height:200px; margin:-100px 0 0 -300px; background:lightpink;}
        &_3 {width:150px; height:200px; margin:-100px 0 0 150px; background:lightgoldenrodyellow;}
    }
    &4 {
        &_1 {width:150px; height:200px; margin:-100px 0 0 -75px; background:white;}
        &_2 {width:150px; height:200px; margin:-100px 0 0 -300px; background:lightpink;}
        &_3 {width:150px; height:200px; margin:-100px 0 0 150px; background:lightgoldenrodyellow;}
    }
}