#datacontrols {margin:10px auto 0; width:1165px;
    [data-board="wrap"] {margin-left:-5px; width:1170px; font-size:0;
        li {margin:0 0 10px 5px; width:190px; display:inline-block; text-align:center; vertical-align:top; font-size:12px;
            img {max-width:100%;}
            span {padding:5px 5px 0 5px; display:inline-block;}
        }
    }
}