/* mobile */
html, body {
    width:100%;
    overscroll-behavior: none;
}

.remote_menu {
    width: 256px;
    height: 100%;
    position: fixed;
    right: -256px;
    top: 0;
    display: none;
    background: url("../img/remote_bg_m.gif") no-repeat center top;
    background-size: contain;
    z-index: 9100005;
}
.remote_menu .remote_overflow {
    height: 100%;
    overflow-y: auto;
}
.remote_menu:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 122px;
    left: 0;
    bottom: 0;
    background-color: #141414;
}
.remote_menu .remote_arrow {
    width: 40px;
    height: 72px;
    position: absolute;
    left: -40px;
    background: url("../img/remote_arrow.png") no-repeat 0 0;
    background-size: cover;
    z-index: 1;
}
.remote_menu .remote_arrow.on {
    left: -12px;
    background-position: -40px 0;
}
.remote_menu h1 {
    margin: 40px 0 0 40px;
    text-align: left;
    letter-spacing: -3px;
    font-size: 25px;
    position: relative;
}
.remote_menu h1 a {
    color: #ddb382;
    font-weight: normal;
    text-decoration: none;
}
.remote_menu .menu_list {
    margin: 0 0 28px 40px;
    position: relative;
}
.remote_menu .menu_list:before {
    content: "";
    display: block;
    overflow: hidden;
}
.remote_menu .menu_list li {
    width: 100%;
    text-align: left;
    position: relative;
}
.remote_menu .menu_list li a {
    width: 100%;
    height: 27px;
    line-height: 27px;
    display: block;
    color: #6f6b5f;
    font-size: 14px;
    letter-spacing: -1px;
    text-decoration: none;
    transition: 0.4s ease;
}
.remote_menu .menu_list li.active > a {
    color: #ddb382;
}
.remote_menu .menu_list > li {
    margin-top: 15px;
}
.remote_menu .menu_list > li:first-child {
    margin-top: 20px;
}
.remote_menu .menu_list > li > a {
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    font-weight: bold;
}
.remote_menu .remote_etc {
    padding: 0 0 28px 40px;
    position: relative;
    overflow: hidden;
}
.remote_menu .remote_etc:before {
    content: "";
    display: block;
    margin-left: -88px;
    width: 176px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
}
.remote_menu .remote_etc span {
    display: inline-block;
}
.remote_menu .remote_etc span a {
    text-decoration: none;
}
.remote_menu .remote_etc .remote_link {
    margin-top: 23px;
    width: 100%;
    height: 15px;
    display: block;
    text-align: left;
    color: #6f6b5f;
    font-size: 12px;
    position: relative;
}
.remote_menu .remote_etc .remote_link:before {
    content: "";
    display: inline-block;
    margin: -1px 8px 0 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url("../img/remote_etc_bg.png") no-repeat 0 0;
    background-size: cover;
}
.remote_menu .remote_etc .remote_link.remote_home:before {
    background-position: -16px 0;
}
.remote_menu .remote_etc .remote_link.remote_nshop:before {
    background-position: -32px 0;
}
.remote_menu .remote_etc .remote_link.remote_coupon:before {
    background-position: -48px 0;
}
.remote_menu .remote_etc .remote_link:first-child {
    margin-top: 27px;
}

/* web */
@media screen and (min-width: 769px) {
    .remote_menu {
        width: 178px;
        height: auto;
        position: absolute;
        right: -180px;
        background: url("../img/remote_bg.png") no-repeat center top;
        border: 1px solid rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        z-index: 9999;
    }
    .remote_menu.fix {
        position: fixed;
    }
    .remote_menu .remote_overflow {
        height: auto;
        overflow-y: hidden;
    }
    .remote_menu:before {
        top: 50px;
        background-color: rgba(20, 20, 20, 0.9);
    }
    .remote_menu .remote_arrow {
        top: 10px;
    }
    .remote_menu h1 {
        margin: 30px 0 0 0;
        text-align: center;
        letter-spacing: -3px;
        font-size: 20px;
    }
    .remote_menu .menu_list {
        margin-left: 0;
    }
    .remote_menu .menu_list li {
        text-align: center;
    }
    .remote_menu .menu_list li:hover > a {
        color: #ddb382;
    }
    .remote_menu .remote_etc {
        padding-left: 0;
        text-align: center;
    }
    .remote_menu .remote_etc:before {
        margin-left: 0;
        width: 100%;
        height: 2px;
        left: 0;
        background: url("../img/remote_line.png") no-repeat center top;
    }
    .remote_menu .remote_etc .remote_link {
        text-align: left;
    }
}
#mobileMask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.8;
    background: #000;
    cursor: pointer;
    z-index: 9100005;
}

.remote_wrap {min-width:1100px; position:relative; overflow:hidden;}
header {height:800px;}
.section1_1 {height:700px; background:cornflowerblue;}
.section1_2 {height:700px; background:greenyellow;}
.section1_3 {height:700px; background:orangered;}
.section2_1 {height:700px; background:forestgreen;}
.section2_2 {height:700px; background:hotpink;}
.section2_3 {height:700px; background:violet;}
.section3 {height:700px;}