html, body {background-color:#b6b6b6}
#bluemarble {width:700px; height:500px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); border:1px solid #000;
    #result {width:300px; height:100px; text-align:center; line-height:100px; font-size:30px; position:absolute; left:50%; top:-150px; transform:translateX(-50%); background-color:#fff;}
    .btn_dice {width:100px; height:50px; color:#fff; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); background-color:#3e6b88;}
    .bluemarble {width:100%; height:100%; font-size:0; position:absolute;
        li {width:100px; height:100px; text-align:center; line-height:100px; font-size:12px; position:absolute; background-color:#bfb690;
            &.on {background-color:orangered}
            @for $i from 0 to 7 {
                &[data-list="board#{$i}"] {left:100px * $i;}

            }
            &[data-list="board7"] {right:0px; top:100px;}
            &[data-list="board8"] {right:0px; top:200px;}
            &[data-list="board9"] {right:0px; top:300px;}
            @for $i from 0 to 7 {
                &[data-list="board1#{$i}"] {right:100px * $i; bottom:0;}

            }
            &[data-list="board17"] {left:0px; bottom:100px;}
            &[data-list="board18"] {left:0px; bottom:200px;}
            &[data-list="board19"] {left:0px; bottom:300px;}
        }
    }
    #characters {
        li {width:40px; height:70px; position:absolute; opacity:0.7;
            &[data-cht="character0"] {background:indianred;}
            &[data-cht="character1"] {background:darkolivegreen;}
            &[data-cht="character2"] {background:yellowgreen;}
            &[data-cht="character3"] {background:royalblue;}
            &[data-cht="character4"] {background:mediumpurple;}
        }
    }
}