.split-expand {
    width:100%;
    height:100%;
    font-size:0;
    position:relative;
    overflow:hidden;
    white-space:nowrap;
    &__list {
        height:100%;
        display:inline-block;
        position:relative;
        &--wrap1 {
            background-color:#3b75c5;
        }
        &--wrap2 {
            background-color:#eda047;
        }
        &--wrap3 {
            background-color:#bfb690;
        }
        &--wrap4 {
            background-color:#eda047;
        }
        &--wrap5 {
            background-color:#bfb690;
        }
    }
    &__con {
        background-color:#fff;
        position:absolute;
        top:100px;
        right:100px;
        bottom:100px;
        left:100px;
        &--1 {

        }
    }
}