.resizable_wrap {margin:50px auto 0; width:610px; height:813px; position:relative; overflow:hidden;
    .resizable {width:100%; height:100%; position:absolute; left:0; top:0;
        &:first-child {z-index:1;}
        .drag_wrap {width:100%; height:100%; position:relative; overflow:hidden;}
        .before_drag, .after_drag {width:100%; height:100%;}
    }
    .drag_bg1 {background:url("../img/suzi1.jpg");}
    .drag_bg2 {background:url("../img/suzi2.jpg");}
    .drag_bg3 {background:url("../img/suzi3.jpg");}
    .drag_bg4 {background:url("../img/suzi4.jpg");}
    &.video_wrap {width:960px; height:540px;
        video {width:960px; height:540px;}
    }
}

.ui-resizable-e {width:50px; right:-25px;
    &:before {content:""; display:block; margin-left:-0.5px; width:1px; height:100%; position:absolute; left:50%; top:0; background:#fff; opacity:0.5;}
}

.btn {margin:10px auto 0; width:100px; height:50px; display:block;
    &.reset1 {background:#ddd;}
    &.reset2 {color:#fff; background:#000;}
}